* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(19, 30, 37);
  color: white;
  text-align: center;
}
h1 {
  font-family: "Foldit", cursive;
  font-weight: 700;
  text-shadow: 2px 3px 1.5px white;
  margin: 1em auto;
}
h1:hover {
  cursor: pointer;
  font-weight: bolder;
}
header nav a {
  background-color: tan;
  text-decoration: none;
  border-radius: 10px;
  padding: 0.5em 1em;
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
  width: 100px;
  box-shadow: 4px 3px 2px rgba(252, 251, 251, 0.5);
  font-weight: 700;
}
header nav a:hover {
  color: rgb(94, 16, 2);
  opacity: 0.7;
}
h3 {
  color: rgb(210, 77, 11);
  font-size: 24px;
  display: inline-block;
  border-bottom: 2px solid;
  /* text-decoration: underline; */
  margin: 20px auto;
}

img {
  height: 400px;
  width: 300px;
  border-radius: 12px;
  margin: 10px;
}
footer nav a {
  text-decoration: none;
  margin-right: 4em;
  color: aliceblue;
  font-size: 20px;
  font-weight: 700;
}
footer nav a:hover {
    color: tomato;
    font-weight: bolder;
}
p {
  font-family: "Rampart One", cursive;
  font-size: 28px;
  color: #ffebcd;
  margin-top: 2em;
}
img:hover {
  opacity: 0.5;
}

i:hover {
  color: tomato;
}
h4 {
    font-size: 19px;
    margin: 15px auto;
}

input,
textarea , 
button {
  width: 50%;
  display: block;
  border: 2px solid gray;
  margin: 15px auto;
  font-size: 20px;
  outline: 0;
  border-radius: 7px;
  padding: 12px;
  line-height: 22px;
  /* background-color : transparent; */
}
textarea {
  height: 200px;
  resize: vertical;
}
input:focus,
textarea:focus {
  border: 2px solid tomato;
}
.btn {
  background-color: gray;
  font-size: 26px;
  font-weight: 900;
}
.btn:hover {
  color: red;
  padding: 20px;
}
.btn:hover::after{
    content: '$';
    color: yellow;
}
.top{
    text-align: right;
    font-size: 24px;
    margin: 15px;
    
}
.top a{
    text-decoration: none;
    padding: 10px;
    background-color: gray;
    border-radius: 10px;
    display: inline-block;
    width: 100px;
}
