*:not(i) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(19, 30, 37);
  color: wheat;
  text-align: center;
}
h1 {
  box-shadow: 4px 3px 2px rgba(252, 251, 251, 0.5);
  display: inline-block;
  padding: 20px;
  border-radius: 10px;
  background-color:#fd5c63;
  font-family: "Rampart One", cursive;
  font-weight: 700;
  font-size: 48px;
  text-shadow: 2px 3px 1.5px white;
  margin: 1em auto;
}
h1:hover {
  cursor: pointer;
  font-weight: bolder;
  transition: 1s;
}
h1:hover{
  -ms-transform: rotate(10deg); 
  transform: rotate(5deg);

}
header nav a {
  background-color: rgb(184, 183, 183);
  color: wheat;
  text-decoration: none;
  border-radius: 10px;
  padding: 0.5em 1em;
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
  width: 100px;
  box-shadow: 4px 3px 2px rgba(252, 251, 251, 0.5);
  font-weight: 700;
  transition: 1s;
}
header nav a:hover {
  -ms-transform: rotate(10deg); 
  transform: rotate(720deg);
  font-weight: bolder;
  color:rgb(243, 41, 5);
  opacity: 0.7;
}
h3 {
  color: #fd5c63;
  font-size: 24px;
  display: inline-block;
  border-bottom: 2px solid;
  /* text-decoration: underline; */
  margin: 20px auto;
}

img {
  height: 400px;
  width: 300px;
  border-radius: 12px;
  margin: 10px;
}
footer nav a {
  text-decoration: none;
  color: wheat;
  margin-right: 4em;
  font-size: 20px;
  font-weight: 700;
}
footer nav a:hover {
    color: tomato;
    font-weight: bolder;
}
p {
  font-family: "Rampart One", cursive;
  font-size: 28px;
  color: #ffebcd;
  margin: 1em auto;
}
img:hover {
  opacity: 0.5;
}

i:hover {
  color: tomato;
}
h4 {
    font-size: 19px;
    margin: 15px auto;
    color: wheat;
}

input,
textarea , 
button {
  width: 50%;
  display: block;
  border: 2px solid gray;
  margin: 15px auto;
  font-size: 20px;
  outline: 0;
  border-radius: 7px;
  padding: 12px;
  line-height: 22px;
  /* background-color : transparent; */
}
textarea {
  height: 200px;
  resize: vertical;
}
input:focus,
textarea:focus {
  border: 2px solid tomato;
}
.btn {
  background-color: gray;
  font-size: 26px;
  font-weight: 900;
}
.btn:hover {
  color: red;
  padding: 20px;
}
.btn:hover::after{
    content: '📤';
    color: yellow;
}
.top{
    text-align: right;
    font-size: 24px;
    margin: 15px;
    
}
.top a{
  color: wheat;
    text-decoration: none;
    padding: 10px;
    background-color: gray;
    border-radius: 10px;
    display: inline-block;
    width: 100px;
}
.hom:hover::before{
  content:"🏠" ;
}
.con:hover::before{
  content:"𝌕" ;
}
.abo:hover::before{
  content:"☯︎" ;
}
.pro:hover::before{
  content:"⚛︎" ;
}
.top:hover::after{
  content:"👆🏻" ;
}
